name: resume_matching_jd
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  firebase_core: ^4.2.1
  flutter:
    sdk: flutter
  flutter_dotenv: ^6.0.0
  lottie: ^3.3.2
  provider: ^6.1.5+1
  supabase_flutter: ^2.12.0
  url_launcher: ^6.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/lotties/
    - .env
